/* About */
.aboutcontainer {
    padding: 0 15%;
    gap:initial;
  }
  
  .aboutcontainer h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: rgb(32, 66, 77);
  }
  
  .aboutcontainer .flexabout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 2rem;
  }
  
  .aboutcontainer .flexabout .abouttext {
    width: 50%;
  }
  
  .aboutcontainer .flexabout .abouttext p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color:rgb(27, 56, 66);
  }
  
  .aboutcontainer .flexabout .aboutimg {
    width: 50%;
  }
  
  .aboutcontainer .flexabout .aboutimg .profileimg {
    overflow: hidden;
    width: 70%;
    height: auto;
    object-fit: cover;
    border: 2px solid #c4c4c7;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
    cursor: cell;
  }
  
  .aboutcontainer .flexabout .aboutimg .profileimg:hover {
    filter: grayscale(0%);
    transform: scale(1.02);
  }
  
  @media screen and (max-width: 768px) {
    .aboutcontainer .flexabout {
      flex-direction: column;
     
    }
  
    .aboutcontainer .flexabout .abouttext {
      width: 100%;
    }
  
    .aboutcontainer .flex-about .aboutimg {
      width: 100%;
    }
  }
  