.button {
    margin: 0 auto;
    border: none;
    padding: 0.5em 1em;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: var(--big-shadow);
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    color: rgb(68, 126, 151);
    font-weight: 600;
    transition: all .5s ease;
  }
  
  .button:hover{
    /* background-color: rgb(68, 126, 151); */
    background-color: var(--secondary-color);
    color: whitesmoke;
  }