
section.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 8em;
}

section.container > p{
    padding: 0 15%;
}

/* BUTTON (ONLY HOME) */
section.container > a{
    margin-top: 3em;
}

@media (max-width: 1200px) {
    section.container > p{
        padding: 0 10%;
    }
}

@media (max-width: 768px) {
    section.container > p{
        padding: 0 6%;
    }
}

@media (max-width: 570px) {
    section.container > p{
        padding: 0 15px;
    }
}