 /* *{
    background-color: #1D1E20;
} */
/* .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: #1D1E20;
} */
/*
Link {
    color: #000;
} 
*/